<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f479d456-3f84-422a-9262-db86df746bbc/resourceGroups/Teste/providers/Microsoft.Web/sites/AgonTeste</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://agonteste.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8601b6a7-1321-4178-bed6-ef17c6d41f37</ProjectGuid>
    <PublishUrl>https://agonteste.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AgonTeste</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>