@inherits LayoutComponentBase

<PageTitle>App Teste</PageTitle>

<body class="body-mainlayout">

    <Header />

    <main class="main-mainlayout">
        <div class="maincontent-mainlayout">

            @Body
        </div>
    </main>

    <Footer />

</body>